@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --tw-text-opacity: 1;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  min-height: 100vh;
  --tw-bg-opacity: 1;
  background-color: #050505;
}

* {
  @apply border-neutral-700
}

a {
  @apply hover:underline;
}

.btn-primary {
  @apply bg-button-primary hover:bg-button-hover hover:no-underline text-black px-6 py-2 rounded-md flex justify-center items-center;
}

input {
  @apply border-input-placeholder text-white rounded-md;
}

input:focus {
  @apply border-white;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  @apply text-input-placeholder;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  @apply text-input-placeholder;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  @apply text-input-placeholder;
}

input[type="checkbox"] {
  all: unset;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  display: inline-block;
}
input[type="checkbox"]:checked {
  width: 10px;
  height: 10px;
  @apply bg-checkbox-checked;
}

input[type="checkbox"]:hover {
  @apply text-checkbox-checked;
}

input[type="checkbox"]:focus {
  @apply text-checkbox-checked;
}

hr {
  @apply border-[#626262];
}

.heart {
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;
  @apply bg-button-primary;
}

.heart:before,
.heart:after {
  content: "";
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
  @apply bg-button-primary;
}

.heart:before {
  top: -5px;
  left: 0;
}

.heart:after {
  left: 5px;
  top: 0;
}

.toastify {
  padding: 12px 20px;
  color: #000;
  display: inline-block;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
    0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
  background: linear-gradient(135deg, #73a5ff, #5477f5);
  position: fixed;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  max-width: calc(50% - 20px);
  z-index: 2147483647;
}

.toastify.on {
  opacity: 1;
}

.toast-close {
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  opacity: 0.4;
  padding: 0 5px;
  text-align: right;
}

.toastify-right {
  right: 15px;
}

.toastify-left {
  left: 15px;
}

.toastify-top {
  top: -150px;
}

.toastify-bottom {
  bottom: -150px;
}

.toastify-rounded {
  border-radius: 25px;
}

.toastify-avatar {
  width: 1.5em;
  height: 1.5em;
  margin: -7px 5px;
  border-radius: 2px;
}

.toastify-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: fit-content;
  max-width: -moz-fit-content;
}

@media only screen and (max-width: 360px) {
  .toastify-right,
  .toastify-left {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: fit-content;
  }
}
