* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #111827;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #f15d9f;
  margin-left: .3em;
}